//For Future Optimization

//Flex Direction
.w-col {
    @include flex-settings(column);
}

.w-col-rev {
    @include flex-settings(column-reverse);
}

.w-row {
    @include flex-settings(row);
}

.w-row-rev {
    @include flex-settings(row-reverse);
}

.w-center-y {
    align-items: center;
}

.w-enter-x {
    justify-content: center
}

//Gap
.gap-70 {
    gap: 70px;
}

.gap-60 {
    gap: 60px;
}

.gap-50 {
    gap: 50px;
}

.gap-40 {
    gap: 40px;
}

.gap-30 {
    gap: 30px;
}

.gap-20 {
    gap: 20px;
}

.gap-10 {
    gap: 10px;
}

.gap-4 {
    gap: 4px;
}

//Overflow
.hidden {
    overflow: hidden;
}
.visible {
    overflow: visible;
}
.scroll {
    overflow: scroll;
}
.auto {
    overflow: auto;
}