@use '_var.scss' as *;

.w-footer-wrapper,
.w-inner-contact-wrapper {
  @include flex-row;
  @include center-x;
  justify-content: space-between;
}

.w-footer-wrapper {
  padding: 20px 0;
}

.w-inner-contact-wrapper {
  border-radius: $round-small;
}

.w-footer-contact-card {
  background-color: $dgreen20;
  border: 1px solid $dgreen25;
  @include flex-row;
  @include center-x;
  padding: 14px;
  border-radius: 6px;

  .w-contact-icon {
    width: 24px;
    height: 24px;
  }
}

.w-copyright {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .w-footer-wrapper {
    flex-direction: column;
    @include center-x;
  }
}

//Tablet
@media screen and (max-width: 992px) {
  .w-inner-contact-wrapper {
    flex-direction: column;
    @include center-y;
    align-items: stretch;
    width: 100%;
  }
  .w-footer-contact-card {
    @include center-y;
  }
}
