//Styles for Navigation Bar Only
@use '_var.scss' as *;

.w-nav-bar {
  @include center-x;
  position: sticky;
  top: 0;
  z-index: 10;
  margin-top: 0;
  transition: all 0.3s ease;
}

.w-nav-wrapper {
  @include center-x;
  justify-content: space-between;
  padding: 20px 0;
  .nav-logo {
    height: 46px;

    img {
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .w-paragraph {
    color: $white;
  }

  .menu-link li {
    @include center-x;

    &:last-child {
      margin-left: 10px;
    }
  }
  .w-mobile-menu {
    padding: 5px;
    width: 44px;
    height: 44px;
    flex: 0 0 auto;
  }
}

.menu-item:hover {
  transition: color 0.3s ease-in-out;
  color: $green70 !important;
}

@media screen and (min-width: 1024px) {
  .w-mobile-cross,
  .w-mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .w-nav-wrapper {
    .nav-logo {
      height: 36px;
    }

    .w-mobile-cross,
    .w-mobile-menu {
      display: block;
    }

    .nav-menu {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: $green97;
    }

    .menu-link {
      flex-direction: column;
      gap: 0; // replaces .menu-link.gap-30
      padding: 20px;

      overflow-y: auto;

      li {
        &:first-child {
          justify-content: flex-end;
        }

        &:last-child {
          margin: 16px 0 60px;
          width: 100%;

          .w-primary-button {
            max-width: 100%;
            text-align: center;
          }
        }
      }
    }

    .w-primary-button:hover {
      @include button-setting($dgreen15);

      .w-button-inner {
        color: $green97;
      }
    }

    a.w-paragraph,
    a.w-primary-button {
      display: block;
      width: 100%;
      color: $gray30;
    }

    .menu-item {
      padding: 17px 20px 15px;
    }

    .nav-menu-mobile {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 80vw;
      display: inline-block;
      transform: translateX(100%);
      transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
      box-shadow: none;
      z-index: 99;
      pointer-events: none;

      &.show {
        pointer-events: auto;
        transform: translateX(0);
        box-shadow: 20px 20px 60px rgba(26, 49, 41, 0.1), -20px -20px 60px rgba(26, 49, 41, 0.1);
      }
    }
  }

  .dark {
    .w-primary-button:hover {
      @include button-setting($dgreen15);

      .w-button-inner {
        color: $white;
      }
    }
  }
}
