//Styles for responsive only
@use '_var.scss'as *;

//Laptop Large
@media screen and (max-width: 1440px) {
    .w-container {
        margin: 0 64px;
    }
}

//Laptop Small
@media screen and (max-width: 1280px) {
    .w-hero-section {
        padding: 16px 0;
    }

    .w-hero-layout {
        $hero-max-height: 200vh;
        max-height: $hero-max-height;
        height: auto;

        .w-hero-image {
            max-height: $hero-max-height;
            height: 100%;
        }

        .w-hero-content {
            margin: 60px 0;
            padding-left: 40px;

            h1.w-heading {
                font-size: 3.288rem;
            }
        }
    }

    .w-story-item .w-item-content {
        padding: 40px;
    }
}

//Tablet to Mobile
@media screen and (max-width: 992px) {
    .w-container {
        margin: 0 16px;
    }
    html {
        font-size: 16px
    }

    .gap-large {
        gap: 50px;
    }

    h1.w-heading {
        font-size: 2.027rem;
    }

    h2.w-heading {
        font-size: 1.802rem;
    }

    h3.w-heading {
        font-size: 1.602rem;
    }

    h4.w-heading {
        font-size: 1.424rem;
    }

    h5.w-heading {
        font-size: 1.266rem;
    }

    h6.w-heading {
        font-size: 1.125rem;
    }

    .w-paragraph {
        font-size: 15px;
        letter-spacing: .5px;
    }

    .gap-default {
        gap: 24px;
    }

    .w-cta-container.gap-medium {
        column-gap: 18px;
    }

    .w-cta-content.gap-xsmall {
        column-gap: 12px;
    }

    .w-plan-section .w-card-grid,
    .w-testimonial-section .w-card-grid,
    .w-card-grid {
        @include grid-2-col(1);
    }

    .w-testimonial-top,
    .w-feature-card,
    .w-achievement-card {
        padding: 24px !important;
    }

    .w-plan-card,
    .w-blog-card,
    .w-welcome-section .w-card,
    .w-cta-section .w-card {
        padding: 28px;
    }

    .w-testimonial-bottom {
        padding: 18px 24px !important;
    }

    .w-feature-card .w-card-icon, .w-achievement-card .w-card-icon {
        padding: 12px;

        img {
            height: 24px;
            aspect-ratio: 1 / 1;
        }
    }

    h2.w-plan-amount {
        font-size: 2.375rem;
    }

    .w-hero-bg {
        display: none;
        ;
    }

    .w-hero-section {
        max-height: 100%;
    }

    .w-hero-layout {
        @include flex-column;
        flex-direction: column-reverse;

        .gap-large {
            gap: 50px;
        }

        .w-row-content {
            justify-content: center;

        }

        .w-client-ratings {
            flex-direction: column-reverse;

            .w-client {
                height: 40px;
                width: 40px;
            }

            .w-paragraph {
                font-size: 18px;
            }
        }

        .w-hero-content {
            padding: 0;
            margin: 30px 0 -30px 0;

            .w-special-heading {
                display: flex;
                justify-content: center;
            }

            h1.w-heading {
                text-align: center;
            }

            .w-paragraph:not(.w-client-ratings .w-paragraph) {
                text-align: center;
            }
        }

        .w-hero-image {
            max-height: $hero-max-height;
            height: inherit;
            aspect-ratio: 4 / 3;
        }
    }

    .w-header-style-02 {

        .w-card {
            padding: 28px;
        }
        
        .w-header-content {
            @include flex-column;
            max-width: 1280px;
            z-index: 1;
        }
    
        .w-header-emblem {
            width: 62px;
            height: 62px;
        }
    }

    .w-cta-section {
        .w-card {
            flex-direction: column;
            gap: 50px;
        }
        .w-cta-section-content {
            text-align: center;
        }
        .w-button {
            padding: 26px 28px 24px 28px;
            max-width: 100%;
            text-align: center;
        }
    }

    .w-section {
        padding: 50px 0;
    }

    header {
        padding-top: 50px;
    }

    .w-story-item, .w-story-item:nth-child(even), .w-story-item:nth-child(odd) {
        flex-direction: column;

        .w-item-content {
            align-items: flex-start;
            padding: 30px;
        }

        .w-item-divider {
            width: 100%;
            height: 12px;
            background-color: $green70;
            flex-shrink: 0;
        }

        .w-heading,
        .w-paragraph {  
            text-align: left;
        }
    }
    
}