//Styles for responsive only
@use '_var.scss' as *;

@media screen and (max-width: 1024px) {
    .w-plan-section .w-card-grid, .w-testimonial-section .w-card-grid, .w-card-grid {
        @include grid-2-col(1);
    }
    .w-plan-card, .w-testimonial-top, .w-feature-card, .w-blog-card {
        padding: 24px !important;
    }
    .w-testimonial-bottom {
        padding: 18px 24px !important;
    }

    footer, nav, .w-hero-section, .w-nav-cta {
        display: none !important;
    }
    
    .w-feature-card .w-feature-icon {
        padding: 12px;
        
        img {
            height: 24px;
            aspect-ratio: 1 / 1;
        }
    }

    .w-paragraph {
        font-size: 16px;
    }
}