//This stylesheet is for UI Styles
@use '_var.scss'as *;

body {
    background-color: $green97;
}

.w-section {
    @include flex-row;
    @include flex-center;
    justify-content: center;
    position: relative;
    padding: 75px 0;
    z-index: 0;
}

.w-col-section {
    @include flex-column;
}

.w-row-section {
    @include flex-row;
}

.w-col-content {
    @include flex-column;
}

.w-row-content {
    @include flex-row;
}

.w-inner-col-center {
    @include flex-column;
    @include flex-center();

    .w-heading {
        width: 100%;
        text-align: center;
    }
}

.w-inner-full {
    @include flex-column;

    .w-heading,
    .w-paragraph {
        width: 100%;
    }
}

.w-container {
    max-width: 1596px;
    width: 100%;
    margin: 0 auto;
}

.w-inner-col {
    @include flex-column;
    width: 50%;
}

.w-inner-row {
    @include flex-row;
    align-items: center;
}

.w-center-row {
    justify-content: center;
}

.w-default-padding {
    padding: 40px;
}

.gap-default {
    gap: 50px
}

.gap-large {
    gap: 70px
}

.gap-medium {
    gap: 30px
}

.gap-small {
    gap: 20px
}

.gap-xsmall {
    gap: 10px
}

.gap-xxsmall {
    gap: 4px
}

.w-hero-section,
.w-header-section {
    display: flex;
    justify-content: center;
    position: relative;
}

.w-hero-section {
    padding: 75px 0;
}

header {
    padding-top: 75px;
}

.w-hero-layout {
    display: grid;
    grid-template-columns: .8fr 1fr;
    grid-template-areas:
        "hero-image hero-content";
    align-items: center;
    max-height: $hero-max-height;
    height: auto;

    .w-hero-image {
        max-height: $hero-max-height;
        height: inherit;
        overflow: hidden;
        box-sizing: border-box;
        border-radius: 40px;

        img {
            position: relative;
            z-index: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .w-hero-content {
        grid-area: hero-content;
        margin: 120px 0;
        @include flex-column;
        padding-left: 80px;
        height: max-content;
        justify-content: center;
    }
}

.w-bottom-border {
    @include bottom-border;
    max-width: max-content;
    padding: 10px 0;
}

.w-client-circle {
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px;
    outline: 1px solid $green70;
    width: max-content;
    border-radius: 50px / 50px;
    background-color: $green97;
}

.w-client {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:not(:first-child) {
        margin-left: -18px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.client-1 {
    background-color: $dgreen90;
    z-index: 1;
}

.client-2 {
    background-color: $dgreen80;
    z-index: 2;
}

.client-3 {
    background-color: $dgreen60;
    z-index: 3;
}

.w-client-count {
    height: max-content;

    .w-paragraph {
        @include font-setting(600, normal, 20px, $dgreen20)
    }
}

.w-client-ratings {
    @include flex-row;
    @include flex-center;
}

.w-card {
    @include flex-column;
    @include card-background($green95);
    border-radius: $round-border-default;
    justify-content: start;

    .w-heading {
        width: auto;
        text-align: unset;
    }
}

.w-feature-card, .w-achievement-card {
    padding: 40px 50px;
    max-width: 996px;
    //transition: all 0.3s ease-in-out;
    box-shadow: none;

    .w-card-icon {
        padding: 14px;
        flex-shrink: 0;
        max-height: 68px;
        max-width: 68px;
        background-color: $green70;
        border-radius: $round-border-small;
        @include flex-row;
        align-items: center;
        justify-content: center;

        img {
            height: 40px;
            aspect-ratio: 1 / 1;
        }
    }

    .w-card-title {
        @include flex-row;
        @include flex-center();
    }

    /*&:hover {
        outline-color: $dgreen40;
        box-shadow: 20px 20px 60px rgba(26, 49, 41, 0.07),
            -20px -20px 60px #ffffff;
    }*/
}

.w-center-heading {
    max-width: 996px;
    width: 100%;

    .w-paragraph {
        text-align: center;
    }
}

.w-center-col {
    display: flex;
    @include flex-center;
}

.w-blog-card {
    padding: 40px;
    max-width: 996px;
    height: auto;
    transition: all 0.3s ease-in-out;
    box-shadow: none;

    .w-blog-details {
        @include flex-column;
        flex-grow: 1;
    }

    .w-feature-image {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: $round-border-small;
        flex-grow: 0;

        img {
            width: 100%;
            height: auto;
        }
    }

    .w-blog-category {
        @include font-setting(500, normal, 1rem, $dgreen40)
    }

    .w-blog-head {
        @include flex-column;
    }

    &:hover {
        outline-color: $dgreen40;
        box-shadow: 20px 20px 60px rgba(26, 49, 41, 0.07),
            -20px -20px 60px #ffffff;
    }
}

.w-card-grid {
    @include max-width;
    @include grid-2-col(2);
    align-items: stretch;
}

.w-plan-section .w-card-grid,
.w-testimonial-section .w-card-grid {
    @include grid-2-col(3);
}

.w-testimonial-card {
    @include flex-column;
    align-items: stretch;
    min-height: 100%;

    .w-testimonial-top {
        @include flex-column;
        padding: 40px;
        @include card-background($green97);
        border-radius: 16px 16px 0 0;
        flex-grow: 1;

        .w-testimonial-icon {
            width: 40px;
            height: 40px;
            flex-shrink: 0;
        }
    }

    .w-testimonial-bottom {
        @include flex-row;
        @include flex-center;
        padding: 30px 40px;
        @include card-background($green95);
        border-top: unset;
        border-radius: 0 0 16px 16px;

        .w-testimonial-name {
            font-weight: 600;
        }

        .w-testimonial-profile {
            width: 60px;
            height: 60px;
            flex-shrink: 0;
            border-radius: $round-border-small;
        }
    }
}

.w-pricing-toggle {
    @include flex-row;
    padding: 10px;
    @include card-background(transparent);
    border-radius: $round-border-small;
}

.enabled {
    background-color: $dgreen20;

    .w-button-inner {
        color: white;
    }
}


.w-plan-card {
    padding: 50px;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
    justify-content: space-between;

    .w-plan-heading {
        @include flex-column;
    }

    .w-paragraph {
        color: $gray30;
    }

    .w-plan-amount {
        color: $dgreen25;
    }

    .w-plan-cta {
        @include flex-column;

        .w-plan {
            @include flex-row;
            @include flex-center;
        }

        .w-button {
            max-width: 100%;
            text-align: center;
        }
    }

    &:hover {
        outline-color: $dgreen40;
        box-shadow: 20px 20px 60px rgba(26, 49, 41, 0.07),
            -20px -20px 60px #ffffff;
    }
}

.w-nav-cta {
    @include flex-row;
    justify-content: center;
    background-color: $dgreen15;
    border-bottom: 1px solid $dgreen25;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    overflow-x: clip;
    /* or hidden if absolutely needed */

    .w-paragraph {
        color: $white;
    }
}

.w-cta-container {
    padding: 8px 8px;
    margin: 14px 0;
    width: auto;
    background-color: $dgreen20;
    outline: 1px solid $dgreen25;
    border-radius: $round-border-small;

    .w-cta-content {
        @include flex-row;
        align-items: center;
    }

    .w-cta-arrow {
        transform: rotate(90deg);
    }
}

.menu-item:hover {
    transition: color 0.3s ease-in-out;
    color: $green70 !important;
}

.w-header-banner {
    width: 100%;
    height: auto;
}

.w-header-style-01 {
    .w-header-background {
        width: 100%;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}

.w-welcome-section .w-card {
    padding: 75px 100px;
}

.w-item-container {
    @include flex-row;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 0;
}

.w-item-outer-container {
    outline: 1px solid $green85;
    border-radius: $round-border-default;
    overflow: hidden;
}

.w-story-item {
    background-color: $green95;
    position: relative;

    &:nth-child(even) {
        flex-direction: row-reverse;
        
        .w-item-content {
            align-items: flex-end;
        }

        .w-heading,
        .w-paragraph {
            text-align: right;
        }
    }

    &:nth-child(odd) {

        .w-heading,
        .w-paragraph {
            text-align: left;
        }
    }

    .w-item-image,
    .w-item-content {
        flex-grow: 1;
        min-width: 50%;
        width: 100%;
    }

    .w-item-image {
        height: auto;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .w-item-content {
        padding: 60px;
        @include flex-column;
        justify-content: center;
    }

    .w-item-divider {
        width: 18px;
        background-color: $green70;
        flex-shrink: 0;
    }
}

.w-cta-section{
    .w-card {
        padding: 80px;
        flex-direction: row;
        align-items: center;
        gap: 150px;
        position: relative
    }

    .w-button {
        padding: 26px 28px 24px 28px;
    }
    .w-cta-section-content {
        @include flex-column
    }
}

.w-header-style-02 {

    .w-card {
        padding: 80px 100px;
        align-items: center;
        overflow: hidden;
        width: 100%;
        border-radius: 12px 12px 0 0;

        .w-heading, .w-paragraph {
            text-align: center;
        }
    }
    
    .w-header-content {
        @include flex-column;
        max-width: 1280px;
        z-index: 1;
    }

    .w-header-emblem {
        flex-shrink: 0;
        width: 102px;
        height: 102px;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            position: relative;
        }

        &::before {
            content: "";
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            width: 749px;
            height: 380px;
            background: url('../../web_assets/images/header-emblem-.png');
            z-index: 0;
        }
    }
}