@use '_var.scss' as *;

//START HERE
.w-cta-banner {
  overflow: clip;
  padding: 16px 0;
  border-bottom: 1px solid $dgreen25;
}
.w-cta-wrapper {
  @include center-x;
  @include center-y;
  width: 100%;
  padding: 8px;
  border: 1px solid $dgreen25;
  background-color: $dgreen20;
  border-radius: $round-small;

  .w-paragraph {
    color: $white;
  }

  .w-cta-content {
    color: $white;
    @include center-y;
  }

  .w-cta-icon {
    width: 24px;
    height: 24px;
    flex: 0 0 auto;
  }

  .w-cta-arrow {
    width: 32px;
    height: 32px;
    flex: 0 0 auto;

    img {
      transform: rotate(90deg);
    }
  }
}

.w-hero-container {
  max-height: $hero-max-height;
  height: auto;
}

.w-hero-wrapper {
  @include center-x;

  .w-hero-image {
    flex: 0.9;
    max-height: $hero-max-height;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 40px;
    object-fit: cover;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .w-hero-content {
    flex: 1;
    margin: auto 0;
    @include flex-column;
    padding-left: 80px;
    height: max-content;
    justify-content: center;
  }
}

.w-client-ratings {
  @include center-x;

  .w-client-circle {
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px;
    border: 1px solid $green70;
    width: max-content;
    border-radius: 50px / 50px;
    background-color: $green97;
  }

  .w-client {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:not(:first-child) {
      margin-left: -18px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .client-1 {
    background-color: $dgreen90;
    z-index: 1;
  }

  .client-2 {
    background-color: $dgreen80;
    z-index: 2;
  }

  .client-3 {
    background-color: $dgreen60;
    z-index: 3;
  }

  .w-client-count {
    height: max-content;
  }
  .w-paragraph {
    @include font-setting(600, normal, 20px, $dgreen20);
  }
}

.w-feature-card {
  padding: 40px 50px;
}

.w-blog-card {
  padding: 30px 30px 40px;
}

.w-testimonial-card {
  @include flex-column;
  align-items: stretch;
  min-height: 100%;

  .w-testimonial-top {
    @include flex-column;
    padding: 40px;
    @include card-bg($green97);
    border-radius: 16px 16px 0 0;
    flex-grow: 1;

    .w-testimonial-icon {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
    }
  }

  .w-testimonial-content {
    color: $dgreen15;
  }

  .w-testimonial-bottom {
    @include flex-row;
    @include center-x;
    padding: 30px 40px;
    @include card-bg($green95);
    border-top: unset;
    border-radius: 0 0 16px 16px;

    .w-testimonial-name {
      font-weight: 600;
    }

    .w-testimonial-profile {
      width: 60px;
      height: 60px;
      flex-shrink: 0;
      border-radius: $round-small;
    }
  }
}

.w-pricing-toggle {
  padding: 10px;
  @include card-bg(transparent);
  border-radius: $round-small;
}

.w-toggle-button {
  min-width: 130px;

  .w-button-inner {
    white-space: nowrap;
    text-align: center;
    width: 100%;
  }
}

.w-plan-card {
  .w-plan-heading-block {
    @include flex-column;
  }

  .w-plan-price-block {
    @include flex-row;
    @include center-x;
    position: relative;
  }
  .w-plan-button-block {
    @include flex-column;
    position: relative;

    .w-button {
      max-width: 100%;
      text-align: center;
    }
  }
}

.w-plan-card.is-highlighted {
  @include card-bg($dgreen15);

  .w-heading {
    color: $white;
  }

  .w-paragraph {
    color: $gray95;
    opacity: 0.8;
  }

  .w-primary-button:hover {
    background-color: $white;

    .w-button-inner {
      color: $dgreen15;
    }
  }
}
