//This stylesheet is for UI Styles
@import "var";

body {
    background-color: $green97;
}

.w-hero-section {
    height: 76vh;
}

.w-section {
    @include flex-row;
    @include flex-center;
    justify-content: center;
    position: relative;
    padding: 75px 0;
}

.w-col-section {
    @include flex-column;
}

.w-row-section {
    @include flex-row;
}

.w-col-content {
    @include flex-column;
}

.w-row-content {
    @include flex-row;
}

.w-inner-row {
    @include flex-column;
    @include flex-center();
}

.w-container {
    max-width: 1596px;
    width: 100%;
    margin: 0 20px;
}

.w-inner-col {
    @include flex-column;
    width: 50%;
}

.w-default-padding {
    padding: 40px;
}

.gap-default {
    gap: 50px
}

.gap-large {
    gap: 70px
}

.gap-medium {
    gap: 30px
}

.gap-small {
    gap: 20px
}

.gap-xsmall {
    gap: 10px
}

.gap-xxsmall {
    gap: 4px
}

.w-bottom-border {
    @include bottom-border;
    max-width: max-content;
    padding: 10px 0;
}

.w-client-circle {
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px;
    border: 1px solid $green70;
    width: max-content;
    border-radius: 50px / 50px;
}

.w-client {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:not(:first-child) {
        margin-left: -18px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.client-1 {
    background-color: $dgreen90;
    z-index: 1;
}

.client-2 {
    background-color: $dgreen80;
    z-index: 2;
}

.client-3 {
    background-color: $dgreen60;
    z-index: 3;
}

.w-client-count {
    height: max-content;

    .w-paragraph {
        @include font-setting(600, normal, 20px, $dgreen20)
    }
}

.w-client-ratings {
    @include flex-row;
    @include flex-center;
}

.w-hero-image {
    position: absolute;
    left: -30px;
    top: 0;
    width: 70%;
    max-width: none;
}

.w-feature-card {
    @include flex-column;
    @include card-background($green95);
    @include round-border-default;
    padding: 40px 50px;
    max-width: 996px;
    transition: all 0.3s ease-in-out;
    box-shadow: none;

    .w-feature-icon {
        width: 68px;
        height: 68px;
        flex-shrink: 0;
        background-color: $gray30;
        @include round-border-small;
    }

    .w-feature-title {
        @include flex-row;
        @include flex-center();
    }

    &:hover {
        border-color: $dgreen40;
        box-shadow: 20px 20px 60px rgba(26, 49, 41, 0.07),
            -20px -20px 60px #ffffff;
    }
}

.w-center-heading {
    max-width: 996px;
    width: 100%;

    .w-paragraph {
        text-align: center;
    }
}

.w-center-col {
    display: flex;
    @include flex-center;
}

.w-blog-card {
    padding: 40px;
    @include flex-column;
    @include card-background($green95);
    @include round-border-default;
    justify-content: space-between;
    max-width: 996px;
    height: auto;
    transition: all 0.3s ease-in-out;
    box-shadow: none;

    .w-blog-details {
        @include flex-column;
        flex-grow: 1;
    }

    .w-feature-image {
        width: 100%;
        aspect-ratio: 16/9;
        background-color: $gray30;
        @include round-border-small;
        flex-grow: 0;
    }

    .w-blog-category {
        @include font-setting(500, normal, 1rem, $dgreen40)
    }

    .w-blog-head {
        @include flex-column;
    }

    &:hover {
        border-color: $dgreen40;
        box-shadow: 20px 20px 60px rgba(26, 49, 41, 0.07),
            -20px -20px 60px #ffffff;
    }
}

.w-card-grid {
    @include max-width;
    @include grid-2-col(2);
    align-items: stretch;
}

.w-plan-section .w-card-grid,
.w-testimonial-section .w-card-grid {
    @include grid-2-col(3);
}

.w-testimonial-card {
    @include flex-column;
    align-items: stretch;
    min-height: 100%;

    .w-testimonial-top {
        @include flex-column;
        padding: 40px;
        @include card-background($green97);
        border-radius: 16px 16px 0 0;
        flex-grow: 1;

        .w-testimonial-icon {
            width: 40px;
            height: 40px;
            flex-shrink: 0;
        }
    }

    .w-testimonial-bottom {
        @include flex-row;
        @include flex-center;
        padding: 30px 40px;
        @include card-background($green95);
        border-top: unset;
        border-radius: 0 0 16px 16px;

        .w-testimonial-name {
            font-weight: 600;
        }

        .w-testimonial-profile {
            width: 60px;
            height: 60px;
            flex-shrink: 0;
            background-color: $gray30;
            @include round-border-small;
        }
    }
}

.w-pricing-toggle {
    @include flex-row;
    padding: 10px;
    @include card-background(transparent);
    @include round-border-small;
}

.enabled {
    background-color: $dgreen20;

    .w-button-inner {
        color: white;
    }
}


.w-plan-card {
    @include flex-column;
    @include card-background($green95);
    padding: 50px;
    @include round-border-default;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
    justify-content: space-between;

    .w-plan-heading {
        @include flex-column;

        .w-paragraph {
            color: $gray30;
        }
    }

    .w-plan-cta {
        @include flex-column;

        .w-plan {
            @include flex-row;
            @include flex-center;
        }

        .w-button {
            max-width: calc(100% - 50px);
            text-align: center;
        }
    }

    &:hover {
        border-color: $dgreen40;
        box-shadow: 20px 20px 60px rgba(26, 49, 41, 0.07),
            -20px -20px 60px #ffffff;
    }
}