//Styles for Global Variables
//Font
@font-face {
    font-family: 'Urbanist';
    src: url('../../web_assets/fonts/Urbanist-BoldItalic.woff2') format('woff2'),
        url('../../web_assets/fonts/Urbanist-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../web_assets/fonts/Urbanist-Black.woff2') format('woff2'),
        url('../../web_assets/fonts/Urbanist-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../web_assets/fonts/Urbanist-BlackItalic.woff2') format('woff2'),
        url('../../web_assets/fonts/Urbanist-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../web_assets/fonts/Urbanist-ExtraLight.woff2') format('woff2'),
        url('../../web_assets/fonts/Urbanist-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../web_assets/fonts/Urbanist-ExtraBold.woff2') format('woff2'),
        url('../../web_assets/fonts/Urbanist-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../web_assets/fonts/Urbanist-Bold.woff2') format('woff2'),
        url('../../web_assets/fonts/Urbanist-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../web_assets/fonts/Urbanist-ExtraBoldItalic.woff2') format('woff2'),
        url('../../web_assets/fonts/Urbanist-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../web_assets/fonts/Urbanist-Thin.woff2') format('woff2'),
        url('../../web_assets/fonts/Urbanist-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../web_assets/fonts/Urbanist-Light.woff2') format('woff2'),
        url('../../web_assets/fonts/Urbanist-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../web_assets/fonts/Urbanist-ExtraLightItalic.woff2') format('woff2'),
        url('../../web_assets/fonts/Urbanist-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../web_assets/fonts/Urbanist-LightItalic.woff2') format('woff2'),
        url('../../web_assets/fonts/Urbanist-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../web_assets/fonts/Urbanist-Regular.woff2') format('woff2'),
        url('../../web_assets/fonts/Urbanist-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../web_assets/fonts/Urbanist-SemiBoldItalic.woff2') format('woff2'),
        url('../../web_assets/fonts/Urbanist-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../web_assets/fonts/Urbanist-Medium.woff2') format('woff2'),
        url('../../web_assets/fonts/Urbanist-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../web_assets/fonts/Urbanist-MediumItalic.woff2') format('woff2'),
        url('../../web_assets/fonts/Urbanist-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../web_assets/fonts/Urbanist-ThinItalic.woff2') format('woff2'),
        url('../../web_assets/fonts/Urbanist-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../web_assets/fonts/Urbanist-SemiBold.woff2') format('woff2'),
        url('../../web_assets/fonts/Urbanist-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../../web_assets/fonts/Urbanist-Italic.woff2') format('woff2'),
        url('../../web_assets/fonts/Urbanist-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}



//Color
//Dark Green
$dgreen15: #1A3129;
$dgreen20: #234338;
$dgreen25: #2C5446;
$dgreen30: #346454;
$dgreen40: #468671;
$dgreen60: #79B9A4;
$dgreen80: #BCDCD1;
$dgreen90: #DDEDE8;
//-Green
$green70: #CBEA7B;
$green75: #D3EE91;
$green80: #DCF1A7;
$green85: #E5F5BD;
$green90: #EEF8D3;
$green95: #F6FBE9;
$green97: #FAFDF2;
$green99: #FDFEFB;
//Gray
$gray30: #4C4C4D;
$gray95: #F2F2F2;
//Absolute
$white: #fff;
$black: #000;

//Sizes
$round-border-small: 8px;
$round-border-default: 12px;
$hero-max-height: 820px;

//@Mixins
@mixin flex-center {
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
}

@mixin font-family() {
    font-family: "Urbanist", serif;
    font-optical-sizing: auto;
    letter-spacing: 0;
    text-transform: none;
    text-decoration: none;
}

@mixin font-setting($weight, $style, $size, $color) {
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
    color: $color;
}

@mixin button-setting($bg-color) {
    position: relative;
    max-width: max-content;
    width: 100%;
    max-height: max-content;
    height: 100%;
    background-color: $bg-color;
    border-radius: $round-border-small;
    transition: all 350ms ease-in-out;
    cursor: pointer;
}

@mixin max-width {
    max-width: 100%;
    width: 100%;
}

@mixin bottom-border {
    border-bottom: 3px solid $green70;
}

@mixin grid-2-col($column) {
    display: grid;
    grid-template-columns: repeat($column, 1fr);
}

@mixin card-background ($bg-color) {
    background-color: $bg-color;
    outline: 1px solid $green85;
}

@mixin limit-line ($limit) {
    display: -webkit-box;
    -webkit-line-clamp: $limit;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}