@font-face {
  font-family: "Urbanist";
  src: url("../../web_assets/fonts/Urbanist-BoldItalic.woff2") format("woff2"), url("../../web_assets/fonts/Urbanist-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../../web_assets/fonts/Urbanist-Black.woff2") format("woff2"), url("../../web_assets/fonts/Urbanist-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../../web_assets/fonts/Urbanist-BlackItalic.woff2") format("woff2"), url("../../web_assets/fonts/Urbanist-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../../web_assets/fonts/Urbanist-ExtraLight.woff2") format("woff2"), url("../../web_assets/fonts/Urbanist-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../../web_assets/fonts/Urbanist-ExtraBold.woff2") format("woff2"), url("../../web_assets/fonts/Urbanist-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../../web_assets/fonts/Urbanist-Bold.woff2") format("woff2"), url("../../web_assets/fonts/Urbanist-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../../web_assets/fonts/Urbanist-ExtraBoldItalic.woff2") format("woff2"), url("../../web_assets/fonts/Urbanist-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../../web_assets/fonts/Urbanist-Thin.woff2") format("woff2"), url("../../web_assets/fonts/Urbanist-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../../web_assets/fonts/Urbanist-Light.woff2") format("woff2"), url("../../web_assets/fonts/Urbanist-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../../web_assets/fonts/Urbanist-ExtraLightItalic.woff2") format("woff2"), url("../../web_assets/fonts/Urbanist-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../../web_assets/fonts/Urbanist-LightItalic.woff2") format("woff2"), url("../../web_assets/fonts/Urbanist-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../../web_assets/fonts/Urbanist-Regular.woff2") format("woff2"), url("../../web_assets/fonts/Urbanist-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../../web_assets/fonts/Urbanist-SemiBoldItalic.woff2") format("woff2"), url("../../web_assets/fonts/Urbanist-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../../web_assets/fonts/Urbanist-Medium.woff2") format("woff2"), url("../../web_assets/fonts/Urbanist-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../../web_assets/fonts/Urbanist-MediumItalic.woff2") format("woff2"), url("../../web_assets/fonts/Urbanist-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../../web_assets/fonts/Urbanist-ThinItalic.woff2") format("woff2"), url("../../web_assets/fonts/Urbanist-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../../web_assets/fonts/Urbanist-SemiBold.woff2") format("woff2"), url("../../web_assets/fonts/Urbanist-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Urbanist";
  src: url("../../web_assets/fonts/Urbanist-Italic.woff2") format("woff2"), url("../../web_assets/fonts/Urbanist-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

audio,
canvas,
video {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  background: none;
}

html {
  box-sizing: border-box;
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

* {
  font-size: 18px;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: clip; /* or hidden */
  max-width: 100vw;
}

*, *::before, *::after {
  box-sizing: border-box;
}

footer {
  background-color: #1A3129;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.w-footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 50px 0;
}

.w-inner-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.w-inner-footer .w-paragraph {
  color: #fff;
}

.footer-logo {
  width: 100%;
  height: 45px;
  margin-right: auto;
}
.footer-logo img {
  max-width: 100%;
  max-height: 100%;
}

.w-copyright .w-paragraph {
  color: #DDEDE8;
}

.footer-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  height: auto;
}
.footer-menu .menu-link {
  display: flex;
}

.w-back {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-left: auto;
}
.w-back .w-back-to-top-button {
  cursor: pointer;
}
.w-back .back-to-top {
  display: flex;
  align-items: center;
}
.w-back .back-to-top .back-to-top-arrow {
  padding: 14px;
  background-color: #234338;
  border-radius: 50%;
  image-rendering: -webkit-optimize-contrast;
  outline: 1px solid #2C5446;
}

.w-footer-contact {
  background-color: #234338;
  outline: 1px solid #2C5446;
  padding: 16px 30px 16px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.w-footer-contact .w-inner-contact {
  display: flex;
}
.w-footer-contact .w-contact-card {
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 6px;
}

.max-200 {
  max-width: 200px;
}

.w-ghost-button {
  outline: 1px solid #2C5446;
  transition: outline-color 0.3s ease-in-out;
}
.w-ghost-button:hover {
  outline-color: #CBEA7B;
}

.w-custom-button {
  transition: all 0.3s ease-in-out;
}
.w-custom-button:hover .w-paragraph {
  color: #CBEA7B;
  transition: all 0.3s ease-in-out;
}
.w-custom-button:hover .back-to-top-arrow {
  outline-color: #CBEA7B;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  footer .w-footer-section {
    padding: 30px 0;
  }
  footer .w-footer-section.gap-default {
    gap: 50px;
  }
  footer .w-footer-info {
    display: grid;
    grid-template-areas: "logo back" "menu menu";
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }
  footer .footer-logo {
    grid-area: logo;
    justify-self: start;
  }
  footer .w-back {
    grid-area: back;
    justify-self: end;
  }
  footer .footer-menu {
    grid-area: menu;
  }
  footer .footer-menu .menu-link {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .footer-menu .menu-item {
    width: 100%;
  }
  footer .footer-logo {
    width: 100%;
    height: 40px;
  }
  footer .back-to-top-arrow {
    padding: 12px;
  }
  footer .back-to-top-arrow img {
    height: 24px;
    width: 24px;
  }
  footer .w-inner-contact,
  footer .w-footer-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  footer .w-footer-contact {
    padding: 20px;
  }
  footer .w-inner-contact {
    width: 100%;
  }
  footer .w-contact-card {
    justify-content: center;
  }
}
#navbar {
  background-color: #1A3129;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;
  margin-top: 0;
  transition: all 0.3s ease;
}

.w-inner-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.w-inner-nav .w-primary-button:hover {
  position: relative;
  max-width: max-content;
  width: 100%;
  max-height: max-content;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  transition: all 350ms ease-in-out;
  cursor: pointer;
}
.w-inner-nav .w-primary-button:hover .w-button-inner {
  color: #1A3129;
}

.w-inner-nav .w-paragraph {
  color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: center;
  height: auto;
}
.nav-menu .menu-link {
  display: flex;
}

.menu-link li {
  display: flex;
  align-items: center;
}

.nav-menu li:last-child {
  margin-left: 10px;
}

.nav-logo {
  width: auto;
  height: 44px;
  margin-right: auto;
}
.nav-logo img {
  max-width: 100%;
  max-height: 100%;
}

.w-mobile-menu {
  padding: 5px;
}

.active {
  color: #CBEA7B !important;
}

@media screen and (min-width: 1024px) {
  .w-mobile-cross,
  .w-mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .nav-logo {
    height: 36px;
  }
  .w-mobile-cross,
  .w-mobile-menu {
    display: block;
  }
  .menu-link.gap-medium {
    gap: 0;
  }
  .nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #FAFDF2;
  }
  .nav-menu ul.menu-link {
    flex-direction: column;
    padding: 20px;
    max-height: 100vh;
    overflow-y: auto;
  }
  .nav-menu ul.menu-link li:last-child {
    margin: 16px 0 60px 0;
    width: 100%;
  }
  .nav-menu ul.menu-link li:last-child .w-primary-button {
    max-width: 100%;
    text-align: center;
  }
  .nav-menu ul.menu-link li:first-child {
    justify-content: flex-end;
  }
  .nav-menu .w-primary-button:hover {
    position: relative;
    max-width: max-content;
    width: 100%;
    max-height: max-content;
    height: 100%;
    background-color: #1A3129;
    border-radius: 8px;
    transition: all 350ms ease-in-out;
    cursor: pointer;
  }
  .nav-menu .w-primary-button:hover .w-button-inner {
    color: #FAFDF2;
  }
  .nav-menu a.w-paragraph,
  .nav-menu a.w-primary-button {
    display: block;
    width: 100%;
  }
  .nav-menu-mobile {
    position: fixed;
    display: inline-block;
    top: 0;
    right: 0;
    height: 100vh;
    width: 80vw;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    box-shadow: none;
    z-index: 99;
    pointer-events: none;
  }
  .nav-menu-mobile.show {
    pointer-events: auto;
    transform: translateX(0);
    box-shadow: 20px 20px 60px rgba(26, 49, 41, 0.1), -20px -20px 60px rgba(26, 49, 41, 0.1);
  }
  .menu-item {
    padding: 17px 20px 15px 20px;
  }
  .w-inner-nav .w-paragraph {
    color: #4C4C4D;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
.w-paragraph,
.w-heading {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
}

.w-paragraph {
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #4C4C4D;
  line-height: 1.5;
}
.w-paragraph span:not(:last-child) {
  display: inline-block;
  margin-bottom: 12px;
}

.w-heading {
  line-height: 1;
}

h1.w-heading {
  font-weight: 700;
  font-style: normal;
  font-size: 2.874rem;
  color: #1A3129;
}

h2.w-heading {
  font-weight: 700;
  font-style: normal;
  font-size: 2.488rem;
  color: #1A3129;
}

h3.w-heading {
  font-weight: 700;
  font-style: normal;
  font-size: 2.074rem;
  color: #1A3129;
}

h4.w-heading {
  font-weight: 600;
  font-style: normal;
  font-size: 1.728rem;
  color: #1A3129;
}

h5.w-heading {
  font-weight: 600;
  font-style: normal;
  font-size: 1.44rem;
  color: #1A3129;
}

h6.w-heading {
  font-weight: 600;
  font-style: normal;
  font-size: 1.2rem;
  color: #1A3129;
}

.w-par-bold {
  font-weight: 800;
  font-style: normal;
  font-size: inherit;
  color: #468671;
}

.w-button {
  padding: 17px 20px 15px 20px;
  height: fit-content;
}

.w-primary-button {
  position: relative;
  max-width: max-content;
  width: 100%;
  max-height: max-content;
  height: 100%;
  background-color: #CBEA7B;
  border-radius: 8px;
  transition: all 350ms ease-in-out;
  cursor: pointer;
}

.w-secondary-button {
  position: relative;
  max-width: max-content;
  width: 100%;
  max-height: max-content;
  height: 100%;
  background-color: #F6FBE9;
  border-radius: 8px;
  transition: all 350ms ease-in-out;
  cursor: pointer;
  outline: 1px solid #E5F5BD;
  padding: 16px 20px 14px 20px;
}

.w-button-inner {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  letter-spacing: 0;
  text-transform: none;
  text-decoration: none;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  color: #1A3129;
  line-height: 150%;
}

.w-secondary-button {
  position: relative;
  max-width: max-content;
  width: 100%;
  max-height: max-content;
  height: 100%;
  background-color: #F6FBE9;
  border-radius: 8px;
  transition: all 350ms ease-in-out;
  cursor: pointer;
  outline: 1px solid #E5F5BD;
  padding: 16px 20px 14px 20px;
}
.w-secondary-button:hover {
  outline-color: #1A3129;
}

.w-primary-button:hover {
  position: relative;
  max-width: max-content;
  width: 100%;
  max-height: max-content;
  height: 100%;
  background-color: #1A3129;
  border-radius: 8px;
  transition: all 350ms ease-in-out;
  cursor: pointer;
}
.w-primary-button:hover .w-button-inner {
  color: #CBEA7B;
}

.w-toggle-button {
  position: relative;
  max-width: max-content;
  width: 100%;
  max-height: max-content;
  height: 100%;
  background-color: transparent;
  border-radius: 8px;
  transition: all 350ms ease-in-out;
  cursor: pointer;
}
.w-toggle-button .w-button-inner {
  display: flex;
  justify-content: center;
  width: 72px;
}

body {
  background-color: #FAFDF2;
}

.w-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 75px 0;
  z-index: 0;
}

.w-col-section {
  display: flex;
  flex-direction: column;
}

.w-row-section {
  display: flex;
}

.w-col-content {
  display: flex;
  flex-direction: column;
}

.w-row-content {
  display: flex;
}

.w-inner-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.w-inner-col-center .w-heading {
  width: 100%;
  text-align: center;
}

.w-inner-full {
  display: flex;
  flex-direction: column;
}
.w-inner-full .w-heading,
.w-inner-full .w-paragraph {
  width: 100%;
}

.w-container {
  max-width: 1596px;
  width: 100%;
  margin: 0 16px;
}

.w-inner-col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.w-inner-row {
  display: flex;
  align-items: center;
}

.w-center-row {
  justify-content: center;
}

.w-default-padding {
  padding: 40px;
}

.gap-default {
  gap: 50px;
}

.gap-large {
  gap: 70px;
}

.gap-medium {
  gap: 30px;
}

.gap-small {
  gap: 20px;
}

.gap-xsmall {
  gap: 10px;
}

.gap-xxsmall {
  gap: 4px;
}

.w-hero-section,
.w-header-section {
  display: flex;
  justify-content: center;
  position: relative;
}

.w-hero-section {
  padding: 75px 0;
}

header {
  padding-top: 75px;
}

.w-hero-layout {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-areas: "hero-image hero-content";
  align-items: center;
  max-height: 820px;
  height: auto;
}
.w-hero-layout .w-hero-image {
  max-height: 820px;
  height: inherit;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 40px;
}
.w-hero-layout .w-hero-image img {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.w-hero-layout .w-hero-content {
  grid-area: hero-content;
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  height: max-content;
  justify-content: center;
}

.w-bottom-border {
  border-bottom: 3px solid #CBEA7B;
  max-width: max-content;
  padding: 10px 0;
}

.w-client-circle {
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px;
  outline: 1px solid #CBEA7B;
  width: max-content;
  border-radius: 50px/50px;
  background-color: #FAFDF2;
}

.w-client {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.w-client:not(:first-child) {
  margin-left: -18px;
}
.w-client img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.client-1 {
  background-color: #DDEDE8;
  z-index: 1;
}

.client-2 {
  background-color: #BCDCD1;
  z-index: 2;
}

.client-3 {
  background-color: #79B9A4;
  z-index: 3;
}

.w-client-count {
  height: max-content;
}
.w-client-count .w-paragraph {
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: #234338;
}

.w-client-ratings {
  display: flex;
  align-items: center;
}

.w-card {
  display: flex;
  flex-direction: column;
  background-color: #F6FBE9;
  outline: 1px solid #E5F5BD;
  border-radius: 12px;
  justify-content: start;
}
.w-card .w-heading {
  width: auto;
  text-align: unset;
}

.w-feature-card, .w-achievement-card {
  padding: 40px 50px;
  max-width: 996px;
  box-shadow: none;
  /*&:hover {
      outline-color: $dgreen40;
      box-shadow: 20px 20px 60px rgba(26, 49, 41, 0.07),
          -20px -20px 60px #ffffff;
  }*/
}
.w-feature-card .w-card-icon, .w-achievement-card .w-card-icon {
  padding: 14px;
  flex-shrink: 0;
  max-height: 68px;
  max-width: 68px;
  background-color: #CBEA7B;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.w-feature-card .w-card-icon img, .w-achievement-card .w-card-icon img {
  height: 40px;
  aspect-ratio: 1/1;
}
.w-feature-card .w-card-title, .w-achievement-card .w-card-title {
  display: flex;
  align-items: center;
}

.w-center-heading {
  max-width: 996px;
  width: 100%;
}
.w-center-heading .w-paragraph {
  text-align: center;
}

.w-center-col {
  display: flex;
  align-items: center;
}

.w-blog-card {
  padding: 40px;
  max-width: 996px;
  height: auto;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}
.w-blog-card .w-blog-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.w-blog-card .w-feature-image {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  flex-grow: 0;
}
.w-blog-card .w-feature-image img {
  width: 100%;
  height: auto;
}
.w-blog-card .w-blog-category {
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #468671;
}
.w-blog-card .w-blog-head {
  display: flex;
  flex-direction: column;
}
.w-blog-card:hover {
  outline-color: #468671;
  box-shadow: 20px 20px 60px rgba(26, 49, 41, 0.07), -20px -20px 60px #ffffff;
}

.w-card-grid {
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
}

.w-plan-section .w-card-grid,
.w-testimonial-section .w-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.w-testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
}
.w-testimonial-card .w-testimonial-top {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #FAFDF2;
  outline: 1px solid #E5F5BD;
  border-radius: 16px 16px 0 0;
  flex-grow: 1;
}
.w-testimonial-card .w-testimonial-top .w-testimonial-icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.w-testimonial-card .w-testimonial-bottom {
  display: flex;
  align-items: center;
  padding: 30px 40px;
  background-color: #F6FBE9;
  outline: 1px solid #E5F5BD;
  border-top: unset;
  border-radius: 0 0 16px 16px;
}
.w-testimonial-card .w-testimonial-bottom .w-testimonial-name {
  font-weight: 600;
}
.w-testimonial-card .w-testimonial-bottom .w-testimonial-profile {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 8px;
}

.w-pricing-toggle {
  display: flex;
  padding: 10px;
  background-color: transparent;
  outline: 1px solid #E5F5BD;
  border-radius: 8px;
}

.enabled {
  background-color: #234338;
}
.enabled .w-button-inner {
  color: white;
}

.w-plan-card {
  padding: 50px;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
  justify-content: space-between;
}
.w-plan-card .w-plan-heading {
  display: flex;
  flex-direction: column;
}
.w-plan-card .w-paragraph {
  color: #4C4C4D;
}
.w-plan-card .w-plan-amount {
  color: #2C5446;
}
.w-plan-card .w-plan-cta {
  display: flex;
  flex-direction: column;
}
.w-plan-card .w-plan-cta .w-plan {
  display: flex;
  align-items: center;
}
.w-plan-card .w-plan-cta .w-button {
  max-width: 100%;
  text-align: center;
}
.w-plan-card:hover {
  outline-color: #468671;
  box-shadow: 20px 20px 60px rgba(26, 49, 41, 0.07), -20px -20px 60px #ffffff;
}

.w-nav-cta {
  display: flex;
  justify-content: center;
  background-color: #1A3129;
  border-bottom: 1px solid #2C5446;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  overflow-x: clip;
  /* or hidden if absolutely needed */
}
.w-nav-cta .w-paragraph {
  color: #fff;
}

.w-cta-container {
  padding: 8px 8px;
  margin: 14px 0;
  width: auto;
  background-color: #234338;
  outline: 1px solid #2C5446;
  border-radius: 8px;
}
.w-cta-container .w-cta-content {
  display: flex;
  align-items: center;
}
.w-cta-container .w-cta-arrow {
  transform: rotate(90deg);
}

.menu-item:hover {
  transition: color 0.3s ease-in-out;
  color: #CBEA7B !important;
}

.w-header-banner {
  width: 100%;
  height: auto;
}

.w-header-style-01 .w-header-background {
  width: 100%;
}
.w-header-style-01 .w-header-background img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.w-welcome-section .w-card {
  padding: 75px 100px;
}

.w-item-container {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 0;
}

.w-item-outer-container {
  outline: 1px solid #E5F5BD;
  border-radius: 12px;
  overflow: hidden;
}

.w-story-item {
  background-color: #F6FBE9;
  position: relative;
}
.w-story-item:nth-child(even) {
  flex-direction: row-reverse;
}
.w-story-item:nth-child(even) .w-item-content {
  align-items: flex-end;
}
.w-story-item:nth-child(even) .w-heading,
.w-story-item:nth-child(even) .w-paragraph {
  text-align: right;
}
.w-story-item:nth-child(odd) .w-heading,
.w-story-item:nth-child(odd) .w-paragraph {
  text-align: left;
}
.w-story-item .w-item-image,
.w-story-item .w-item-content {
  flex-grow: 1;
  min-width: 50%;
  width: 100%;
}
.w-story-item .w-item-image {
  height: auto;
  width: 100%;
}
.w-story-item .w-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.w-story-item .w-item-content {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.w-story-item .w-item-divider {
  width: 18px;
  background-color: #CBEA7B;
  flex-shrink: 0;
}

.w-cta-section .w-card {
  padding: 80px;
  flex-direction: row;
  align-items: center;
  gap: 150px;
  position: relative;
}
.w-cta-section .w-button {
  padding: 26px 28px 24px 28px;
}
.w-cta-section .w-cta-section-content {
  display: flex;
  flex-direction: column;
}

.w-header-style-02 .w-card {
  padding: 80px 100px;
  align-items: center;
  overflow: hidden;
  width: 100%;
}
.w-header-style-02 .w-card .w-heading, .w-header-style-02 .w-card .w-paragraph {
  text-align: center;
}
.w-header-style-02 .w-header-content {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  z-index: 1;
}
.w-header-style-02 .w-header-emblem {
  flex-shrink: 0;
  width: 102px;
  height: 102px;
  position: relative;
}
.w-header-style-02 .w-header-emblem img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: relative;
}
.w-header-style-02 .w-header-emblem::before {
  content: "";
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 749px;
  height: 380px;
  background: url("../../web_assets/images/header-emblem-.png");
  z-index: 0;
}

@media screen and (max-width: 1280px) {
  .w-hero-section {
    padding: 16px 0;
  }
  .w-hero-layout {
    max-height: 200vh;
    height: auto;
  }
  .w-hero-layout .w-hero-image {
    max-height: 200vh;
    height: 100%;
  }
  .w-hero-layout .w-hero-content {
    margin: 60px 0;
    padding-left: 40px;
  }
  .w-hero-layout .w-hero-content h1.w-heading {
    font-size: 3.288rem;
  }
  .w-story-item .w-item-content {
    padding: 40px;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 16px;
  }
  .gap-large {
    gap: 50px;
  }
  h1.w-heading {
    font-size: 2.575rem;
  }
  h2.w-heading {
    font-size: 2rem;
  }
  h3.w-heading {
    font-size: 1.75rem;
  }
  h4.w-heading {
    font-size: 1.5rem;
  }
  h5.w-heading {
    font-size: 1.25rem;
  }
  h6.w-heading {
    font-size: 1.15rem;
  }
  .w-paragraph {
    font-size: 15px;
    letter-spacing: 0.5px;
  }
  .gap-default {
    gap: 24px;
  }
  .w-cta-container.gap-medium {
    column-gap: 18px;
  }
  .w-cta-content.gap-xsmall {
    column-gap: 12px;
  }
  .w-plan-section .w-card-grid,
  .w-testimonial-section .w-card-grid,
  .w-card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .w-testimonial-top,
  .w-feature-card,
  .w-achievement-card {
    padding: 24px !important;
  }
  .w-plan-card,
  .w-blog-card,
  .w-welcome-section .w-card,
  .w-cta-section .w-card {
    padding: 28px;
  }
  .w-testimonial-bottom {
    padding: 18px 24px !important;
  }
  .w-feature-card .w-card-icon, .w-achievement-card .w-card-icon {
    padding: 12px;
  }
  .w-feature-card .w-card-icon img, .w-achievement-card .w-card-icon img {
    height: 24px;
    aspect-ratio: 1/1;
  }
  h2.w-plan-amount {
    font-size: 2.375rem;
  }
  .w-hero-bg {
    display: none;
  }
  .w-hero-section {
    max-height: 100%;
  }
  .w-hero-layout {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .w-hero-layout .gap-large {
    gap: 50px;
  }
  .w-hero-layout .w-row-content {
    justify-content: center;
  }
  .w-hero-layout .w-client-ratings {
    flex-direction: column-reverse;
  }
  .w-hero-layout .w-client-ratings .w-client {
    height: 40px;
    width: 40px;
  }
  .w-hero-layout .w-client-ratings .w-paragraph {
    font-size: 18px;
  }
  .w-hero-layout .w-hero-content {
    padding: 0;
    margin: 30px 0 -30px 0;
  }
  .w-hero-layout .w-hero-content .w-special-heading {
    display: flex;
    justify-content: center;
  }
  .w-hero-layout .w-hero-content h1.w-heading {
    text-align: center;
  }
  .w-hero-layout .w-hero-content .w-paragraph:not(.w-client-ratings .w-paragraph) {
    text-align: center;
  }
  .w-hero-layout .w-hero-image {
    max-height: 820px;
    height: inherit;
    aspect-ratio: 4/3;
  }
  .w-cta-section .w-card {
    flex-direction: column;
    gap: 50px;
  }
  .w-cta-section .w-cta-section-content {
    text-align: center;
  }
  .w-cta-section .w-button {
    padding: 26px 28px 24px 28px;
    max-width: 100%;
    text-align: center;
  }
  .w-section {
    padding: 50px 0;
  }
  header {
    padding-top: 50px;
  }
  .w-story-item, .w-story-item:nth-child(even), .w-story-item:nth-child(odd) {
    flex-direction: column;
  }
  .w-story-item .w-item-content, .w-story-item:nth-child(even) .w-item-content, .w-story-item:nth-child(odd) .w-item-content {
    align-items: flex-start;
    padding: 30px;
  }
  .w-story-item .w-item-divider, .w-story-item:nth-child(even) .w-item-divider, .w-story-item:nth-child(odd) .w-item-divider {
    width: 100%;
    height: 12px;
    background-color: #CBEA7B;
    flex-shrink: 0;
  }
  .w-story-item .w-heading,
  .w-story-item .w-paragraph, .w-story-item:nth-child(even) .w-heading,
  .w-story-item:nth-child(even) .w-paragraph, .w-story-item:nth-child(odd) .w-heading,
  .w-story-item:nth-child(odd) .w-paragraph {
    text-align: left;
  }
}
html {
  scroll-behavior: auto;
}
